/* Global Settings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 1.4rem 0;
  background-color: black;
}

/* logo */

.logo-name {
  font-weight: 100;
  color: white;
}

.secondary-name {
  margin-left: 2rem;
  font-size: 11px;
  letter-spacing: 0.1rem;
  color: white;
}

/* Navigation */

.flexed-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  position: relative;
}

.navigation-logo {
  margin-left: 2rem;
}

.nav-links,
.navIconText {
  padding: 0 1rem;
  font-size: 16px;
  font-family: "Stack Sans Headline", sans-serif;
  font-weight: 600;
  text-decoration: none;
  color: white;
}

.nav-icon {
  color: white;
}

/* Hamburger Menu */

.hamburger {
  display: none;
}

/* Hero Section */

.hero-img {
  width: 100%;
  height: 470px;
  object-position: 0% 46%;
  object-fit: cover;
  z-index: 1;
}

.img-container {
  position: relative;
}

.hero-text-container {
  position: absolute;
  left: 10%;
  top: 10%;
  width: 40%;
  color: white;
}

.hero-section-font-one {
  font-family: "Tangerine", cursive;
  font-size: 40px;
  font-weight: 100;
  color: #ffc04b;
  margin-bottom: 1rem;
}

.hero-section-font-two {
  font-family: "Stack Sans Headline", sans-serif;
  font-size: 60px;
  line-height: 60px;
}

.hero-more {
  color: #ffc04b;
}

.hero-description {
  font-size: 19px;
  margin-top: 1rem;
  line-height: 28px;
  font-family: "Stack Sans Headline", sans-serif;
}

.hero-btn {
  margin-top: 1rem;
  color: black;
  padding: 0.8rem 0.4rem;
  font-weight: 700;
  background-color: #ffc04b;
}

svg {
  color: white;
}

.btn-arrow {
  color: black;
  padding-left: 0.5rem;
}

/* Section */

.section-text {
  color: white;
}

.section-flex-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: -3rem;
}

.section-flex-item {
  position: relative;
}

.section-text-container {
  position: absolute;
  z-index: 2;
  margin: 1rem 1rem;
  width: 90%;
}

.section-header {
  font-size: 28px;
  margin-bottom: 1rem;
}

.section-description {
  font-size: 18px;
  font-family: "Stack Sans Headline", sans-serif;
  width: 60%;
}

.section-img {
  width: 100%;
  border: gray solid 1px;
  position: relative;
}

.section-header {
  font-family: "Stack Sans Headline", sans-serif;
}

.circle-icon {
  padding: 10px;
  border-radius: 50%;
  width: 10%;
  height: 10%;
  border: white solid 1px;
}

.section-btn {
  margin-top: 0.8rem;
  color: black;
  padding: 0.8rem 0.4rem;
  font-weight: 700;
  background-color: #ffc04b;
}

/* Collection Section */

.collection-container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 1.4rem 0;
  background-color: black;
}

.collection-title {
  font-family: "Tangerine", cursive;
  font-size: 40px;
  font-weight: 100;
  color: #ffc04b;
}

.collection-header {
  color: white;
  text-align: center;
}

.collection-subtitle {
  font-family: "Stack Sans Headline", sans-serif;
  font-size: 35px;
}

.sauce-collection-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.sauce-collection-item {
  background-color: white;
  text-align: center;
  width: 15%;
}

.sauce-name {
  font-family: "Stack Sans Headline", sans-serif;
  margin-top: -1rem;
}

.collection-price {
  color: black;
  font-family: "Stack Sans Headline", sans-serif;
  text-align: center;
}

.collection-image {
  width: 100%;
}

.collection-btn {
  margin-top: 0.8rem;
  color: black;
  padding: 0.8rem 0.4rem;
  font-weight: 700;
  background-color: #ffc04b;
  margin-bottom: 1rem;
}
/* Media Queries */

@media (max-width: 1092px) {
  .hamburger {
    display: block;
  }

  .navigation-links {
    display: none;
  }

  .navigation-links.open {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background-color: black;
    padding: 1rem 2rem;
    gap: 1rem;
    text-align: center;
  }

  .navIconText {
    margin: 0 auto;
  }

  .hero-section-font-one {
    font-size: 28px;
    margin-bottom: 0.2rem;
  }

  .hero-section-font-two {
    font-size: 60px;
  }

  .hero-description {
    font-size: 14px;
    line-height: 1.3rem;
    margin-top: 0.3rem;
  }
  .hero-text-container {
    width: 45%;
  }

  .section-flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    flex-wrap: wrap;
    width: 100%;
  }

  .section-header {
    font-size: 72px;
    margin-bottom: 0.4rem;
  }

  .section-description {
    font-size: 40px;
    font-family: "Stack Sans Headline", sans-serif;
    width: 60%;
  }

  .section-btn {
    margin-top: 0.8rem;
    color: black;
    padding: 0.8rem 0.4rem;
    font-weight: 700;
    background-color: #ffc04b;
    font-size: 30px;
  }

  .section-text-container {
    position: absolute;
    z-index: 2;
    margin: 1rem 1rem;
  }
}

@media (max-width: 800px) {
  .hamburger {
    display: block;
  }

  .navigation-links {
    display: none;
  }

  .navigation-links.open {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background-color: black;
    padding: 1rem 2rem;
    gap: 1rem;
    text-align: center;
  }

  .navIconText {
    margin: 0 auto;
  }

  .hero-section-font-one {
    font-size: 28px;
    margin-bottom: 0.2rem;
  }

  .hero-section-font-two {
    font-size: 60px;
  }

  .hero-description {
    font-size: 15px;
    line-height: 1.3rem;
    margin-top: 0.3rem;
  }
  .hero-text-container {
    width: 60%;
  }

  .section-header {
    font-size: 50px;
    margin-bottom: 0.4rem;
  }

  .section-description {
    font-size: 24px;
    font-family: "Stack Sans Headline", sans-serif;
    width: 60%;
  }

  .section-btn {
    margin-top: 0.8rem;
    color: black;
    padding: 0.8rem 0.4rem;
    font-weight: 700;
    background-color: #ffc04b;
    font-size: 24px;
  }
}

@media (max-width: 664px) {
  .hamburger {
    display: block;
  }

  .navigation-links {
    display: none;
  }

  .navigation-links.open {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background-color: black;
    padding: 1rem 2rem;
    gap: 1rem;
    text-align: center;
  }

  .navIconText {
    margin: 0 auto;
  }

  .hero-section-font-one {
    font-size: 28px;
    margin-bottom: 0.2rem;
  }

  .hero-section-font-two {
    font-size: 40px;
  }

  .hero-description {
    font-size: 14px;
    line-height: 1.3rem;
    margin-top: 0.3rem;
  }
  .hero-text-container {
    width: 55%;
  }

  .section-header {
    font-size: 24px;
    margin-bottom: 0.4rem;
  }

  .section-description {
    font-size: 16px;
    font-family: "Stack Sans Headline", sans-serif;
    width: 60%;
  }

  .section-btn {
    margin-top: 0.8rem;
    color: black;
    padding: 0.8rem 0.4rem;
    font-weight: 700;
    background-color: #ffc04b;
    font-size: 16px;
  }
}
