/* Global Settings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 1.4rem 0;
  background-color: black;
}

/* logo */

.logo-name {
  font-weight: 100;
  color: white;
}

.secondary-name {
  margin-left: 2rem;
  font-size: 11px;
  letter-spacing: 0.1rem;
  color: white;
}

/* Navigation */

.flexed-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  position: relative;
}

.navigation-logo {
  margin-left: 2rem;
}

.nav-links {
  padding: 0 1rem;
  font-size: 16px;
  font-family: "Stack Sans Headline", sans-serif;
  font-weight: 600;
  text-decoration: none;
  color: white;
}

.navigation-icons {
  margin-right: 2rem;
}

.nav-icon {
  padding: 0 0.8rem;
  color: white;
}

/* Hamburger Menu */

.hamburger {
  display: none;
}

/* Hero Section */

.hero-img {
  width: 100%;
  height: 600px;
  object-position: 0% 35%;
  object-fit: cover;
  z-index: 1;
}

.img-container {
  position: relative;
}

.hero-text-container {
  position: absolute;
  left: 100px;
  top: 50px;
  width: 505px;
  color: white;
}

.hero-section-font-one {
  font-family: "Tangerine", cursive;
  font-size: 40px;
  font-weight: 100;
  color: #ffc04b;
  margin-bottom: 1rem;
}

.hero-section-font-two {
  font-family: "Stack Sans Headline", sans-serif;
  font-size: 60px;
  line-height: 60px;
}

.hero-more {
  color: #ffc04b;
}

.hero-description {
  font-size: 19px;
  margin-top: 1rem;
  line-height: 28px;
  font-family: "Stack Sans Headline", sans-serif;
}

.hero-btn {
  margin-top: 1rem;
  color: black;
  padding: 0.8rem 0.4rem;
  font-weight: 700;
  background-color: #ffc04b;
}

svg {
  color: white;
}

.btn-arrow {
  color: black;
  padding-left: 0.5rem;
}

/* Media Queries */

@media (max-width: 800px) {
  .hamburger {
    display: block;
  }

  .nav-links {
    display: none;
  }

  .nav-icon {
    display: none;
  }
}
